$zero-size: 0px;
$size-main: 10px;
$size-width: 100;
$position: center;
$color-dark: #333;
$color-grey: #808080;
$color-orange: orange;
$color-green: #56eb1a;
$color-blue: #308eee;
$font-family-main: Oswald;
$font-family-secondary: sans-serif;